page-study-rooms {
  h2 {
    text-align: center;
  }

  canvas {
    margin: 0;
    padding: 0;
    display: block;
  }

  ion-header {
    padding-top: 40px;
  }

  p {
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: right;
    position: absolute;
    right: 6px;
    top: 6px;
    font-style: bold;
    color: rgb(0, 122, 255);
    margin-bottom: 10px;
  }

  #floor_name, 
  #floor_button, 
  #info_icon, 
  #tech-link {
    visibility: hidden;
  }

  .center {
    margin: 0 auto;
    width: 65%;
    margin-left: 17.5%;
  }

  #searchButton {
    visibility: hidden;
  }
}
