page-study-rooms {
  h2 {
    text-align: center;
  }

  canvas {
    margin: 0;
    padding: 0;
    display: block;
  }

  ion-header {
    padding-top: 40px;
  }

  p {
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: right;
    position: absolute;
    right: 6px;
    top: 6px;
    font-style: bold;
    color: rgb(0, 122, 255);
  }
}
