page-key {

  ion-row {
    height: 12vh;
  }

  ion-col {
    width: 20vw;
  }

  ion-col.text {
    position: relative;
    right: 50px;
  }

  canvas {
    width: 100px;
  }

  ion-header {
    padding-top: 40px;
  }
}
