page-room-errors {
    
    h1 {
        font-size: 20px;
        font-weight: bolder;
        text-align: left;
    }

    h2 {
        font-size: 16px;
        margin-bottom: 4px;
        font-weight: bold;
    }

    p {
        margin-top: 0px;
        line-height: 1.6;
    }

    #helpLink {
        font-size: 19px;
        color: rgb(0, 122, 255);
        text-align: center;
        border: 2px solid rgb(0, 122, 255);
        border-radius: 7px;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        width: fit-content;
        position: relative;
        top: 15px;
        background-color: rgb(222, 237, 243);
    }

    #bugButton {
        display: grid;
        place-items: center;
    }

}
