page-comp-errors {
    
    h1 {
        font-size: 20px;
        font-weight: bolder;
        text-align: left;
    }

    h2 {
        font-size: 16px;
        margin-bottom: 4px;
        font-weight: bold;
    }

    p {
        margin-top: 0px;
        line-height: 1.6;
    }

    #helpLink {
        width: 80%;
        margin-left: 10%;
    }

}
