page-search {

  h1 {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 10px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: bold;
    margin-left: 10px;
  }

  p {
    margin-top: 0px;
    line-height: 1.3;
    margin-right: 75px;
    font-size: 18px;
    margin-left: 10px;
  }

  hr {
    margin-left: 10px;
  }

  #label {
    font-size: 18px;
    display: inline;
    width: 60%;
    float: left;
  }

  #textEntry {
    font-size: 20px;
    display: inline-block;
    border: black solid 1px;
    padding-left: 7px;
  }

  div.rightHalf {
    width: 15%;
    float: right;
  }

  #labelTextEntry {
    float: left;
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }

  #submitButton {
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
  }

  #resultLabel,
  #line {
    visibility: hidden;
  }

}
